.version.happpppppyyyy_anniversary_baby______33333_ /* version checker */
{
	color: #000011;
	background-color: #4A0564;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 899.95px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 165px;
	width: 0.01px;/* should not cover content below */
}

#pu2039
{
	width: 0.01px;
	margin-left: -100px;
}

#u2039
{
	z-index: 2;
	min-height: 79px;
	background-color: #FFCCE8;
}

#u2039_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#pu370
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 30px;
}

#u370
{
	z-index: 62;
	width: 50px;
	min-height: 25px;
	position: relative;
}

#u375
{
	z-index: 63;
	width: 50px;
	min-height: 25px;
	position: relative;
}

#u2040-4
{
	z-index: 3;
	width: 940px;
	min-height: 30px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 110px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u2039-bw
{
	z-index: 2;
	min-height: 79px;
	margin-top: 71px;
}

#pamphletu162
{
	z-index: 21;
	width: 0.01px;
	height: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 454px;
}

#u163popup
{
	z-index: 22;
}

#u163
{
	width: 933px;
	position: fixed;
	top: 72px;
	left: 50%;
	margin-left: -467px;
}

#u164
{
	z-index: 23;
	width: 929px;
	height: 315px;
	margin-right: -10000px;
	position: relative;
}

#menuu168
{
	z-index: 31;
	width: 396px;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 42px;
}

#u169
{
	width: 396px;
	position: relative;
}

#u170
{
	width: 396px;
	min-height: 16px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u170:hover
{
	width: 396px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u170:active
{
	width: 396px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u171-4
{
	width: 396px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u170:hover #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 396px;
	margin: 0px -10000px 0px 0px;
}

#u170:active #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 396px;
	margin: 0px -10000px 0px 0px;
}

#u177
{
	width: 396px;
	min-height: 16px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u170.MuseMenuActive,#u177:hover
{
	width: 396px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u177:active
{
	width: 396px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u178-4
{
	width: 396px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u170.MuseMenuActive #u171-4,#u177:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 396px;
	margin: 0px -10000px 0px 0px;
}

#u177:active #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 396px;
	margin: 0px -10000px 0px 0px;
}

#u184
{
	width: 396px;
	min-height: 16px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u177.MuseMenuActive,#u184:hover
{
	width: 396px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u184:active
{
	width: 396px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u185-4
{
	width: 396px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
}

#u177.MuseMenuActive #u178-4,#u184:hover #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 396px;
	margin: 0px -10000px 0px 0px;
}

#u184:active #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 396px;
	margin: 0px -10000px 0px 0px;
}

#u176,#u183,#u190
{
	width: 396px;
	margin-top: 2px;
	position: relative;
}

#u191
{
	width: 396px;
	min-height: 16px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u184.MuseMenuActive,#u191:hover
{
	width: 396px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u191:active
{
	width: 396px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u191.MuseMenuActive
{
	width: 396px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u194-4
{
	width: 396px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u184.MuseMenuActive #u185-4,#u191:hover #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 396px;
	margin: 0px -10000px 0px 0px;
}

#u191:active #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 396px;
	margin: 0px -10000px 0px 0px;
}

#u191.MuseMenuActive #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 396px;
	margin: 0px -10000px 0px 0px;
}

#u167-6
{
	z-index: 25;
	width: 347px;
	min-height: 71px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 55px;
}

#u165
{
	z-index: 24;
	width: 462px;
	height: 288px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 449px;
}

#u199
{
	z-index: 56;
	width: 253px;
	padding-bottom: 62px;
	position: relative;
	margin-right: -10000px;
}

#u200
{
	width: 253px;
	padding-bottom: 12px;
	position: fixed;
	top: 5px;
	left: 50%;
	margin-left: -127px;
}

#u200.PamphletThumbSelected
{
	width: 253px;
	min-height: 0px;
	margin: 0px 0px 0px -127px;
}

#u201-4
{
	z-index: 58;
	width: 221px;
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 14px;
}

#u200.PamphletThumbSelected #u201-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 221px;
	margin: 11px -10000px 0px 0px;
}

#u383
{
	z-index: 64;
	width: 200px;
	min-height: 100px;
	position: relative;
	margin-right: -10000px;
}

#u344
{
	z-index: 20;
	width: 1160px;
	height: 72px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -580px;
}

#pu2048
{
	width: 0.01px;
	margin-left: 256px;
	margin-top: 73px;
}

#u2048
{
	z-index: 7;
	width: 528px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2058-11
{
	z-index: 9;
	width: 380px;
	min-height: 400px;
	background-color: transparent;
	line-height: 37px;
	text-align: center;
	font-size: 31px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 74px;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 960px;
}


