#u164
{
	border-style: solid;
	border-width: 2px;
	border-color: #FFCCE8;
	background-color: #3A3A3A;
	background-color: rgba(0,0,0,0.77);
	-pie-background: rgba(0,0,0,0.77);
}

#u170
{
	background-color: #FFD8ED;
	background-color: rgba(255,204,232,0.75);
	-pie-background: rgba(255,204,232,0.75);
}

#u170:hover
{
	background-color: #B2B2B2;
	background-color: rgba(153,153,153,0.75);
	-pie-background: rgba(153,153,153,0.75);
}

#u170:active
{
	background-color: #909090;
	background-color: rgba(107,107,107,0.75);
	-pie-background: rgba(107,107,107,0.75);
}

#u170.MuseMenuActive
{
	background-color: #B2B2B2;
	background-color: rgba(153,153,153,0.75);
	-pie-background: rgba(153,153,153,0.75);
}

#u171-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4F4F4F;
	line-height: 16px;
	text-align: left;
	font-size: 13px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u171-2
{
	padding-left: 13px;
}

#u177
{
	background-color: #FFD8ED;
	background-color: rgba(255,204,232,0.75);
	-pie-background: rgba(255,204,232,0.75);
}

#u177:hover
{
	background-color: #B2B2B2;
	background-color: rgba(153,153,153,0.75);
	-pie-background: rgba(153,153,153,0.75);
}

#u177:active
{
	background-color: #909090;
	background-color: rgba(107,107,107,0.75);
	-pie-background: rgba(107,107,107,0.75);
}

#u177.MuseMenuActive
{
	background-color: #B2B2B2;
	background-color: rgba(153,153,153,0.75);
	-pie-background: rgba(153,153,153,0.75);
}

#u178-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4F4F4F;
	line-height: 16px;
	text-align: left;
	font-size: 13px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u178-2
{
	padding-left: 13px;
}

#u184
{
	background-color: #FFD8ED;
	background-color: rgba(255,204,232,0.75);
	-pie-background: rgba(255,204,232,0.75);
}

#u184:hover
{
	background-color: #B2B2B2;
	background-color: rgba(153,153,153,0.75);
	-pie-background: rgba(153,153,153,0.75);
}

#u184:active
{
	background-color: #909090;
	background-color: rgba(107,107,107,0.75);
	-pie-background: rgba(107,107,107,0.75);
}

#u184.MuseMenuActive
{
	background-color: #B2B2B2;
	background-color: rgba(153,153,153,0.75);
	-pie-background: rgba(153,153,153,0.75);
}

#u185-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4F4F4F;
	line-height: 16px;
	text-align: left;
	font-size: 13px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u185-2
{
	padding-left: 13px;
}

#u163,#u169,#u176,#u183,#u190
{
	background-color: transparent;
}

#u191
{
	background-color: #FFD8ED;
	background-color: rgba(255,204,232,0.75);
	-pie-background: rgba(255,204,232,0.75);
}

#u191:hover
{
	background-color: #B2B2B2;
	background-color: rgba(153,153,153,0.75);
	-pie-background: rgba(153,153,153,0.75);
}

#u191:active
{
	background-color: #909090;
	background-color: rgba(107,107,107,0.75);
	-pie-background: rgba(107,107,107,0.75);
}

#u191.MuseMenuActive
{
	background-color: #B2B2B2;
	background-color: rgba(153,153,153,0.75);
	-pie-background: rgba(153,153,153,0.75);
}

#u194-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4F4F4F;
	line-height: 16px;
	text-align: left;
	font-size: 13px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u194-2
{
	padding-left: 13px;
}

#u167-6
{
	background-color: transparent;
	color: #FFCCE8;
	line-height: 32px;
	text-align: center;
	font-size: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u165
{
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/ourlovestory-45.jpg") no-repeat center center;
	background-size: contain;
}

#u370,#u375,#menuu168,#u200
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u201-4
{
	border-style: solid;
	border-width: 2px;
	border-color: #FFCCE8;
	background-color: transparent;
	letter-spacing: 2px;
	color: #FFCCE8;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u200.PamphletThumbSelected #u201-4
{
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	-pie-background: rgba(0,0,0,0.5);
}

#u200.PamphletThumbSelected #u201-4 p
{
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u201-2
{
	padding-top: 6px;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u383
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u344
{
	background-color: #000000;
}

